/* Defaults */
.hidden
{
	display: none;
}

.ui-datepicker
{
	display: none;
	
	background: #ffffff;
	
	padding: 12px;
	
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.ui-datepicker-header
{
	position: relative;
}

.ui-datepicker-prev,
.ui-datepicker-next
{
	display: inline-block;
	
	width: 48px;
	
	text-align: center;
	
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
			
	padding-top: 6px;
	padding-bottom: 6px;
	
	position: absolute;
	top: 0;
	
	z-index: 1;
	
	-webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
 	   -moz-transition: background-color 0.2s ease, border-color 0.2s ease;
 		 -o-transition: background-color 0.2s ease, border-color 0.2s ease;
			transition: background-color 0.2s ease, border-color 0.2s ease;
}

.ui-datepicker-prev,
.ui-datepicker-next
{
	background-color: #ffffff;
	
	border-color: #d1d1d1;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover
{
	border-color: #b1b1b1;
}

.ui-datepicker-prev:active,
.ui-datepicker-next:active
{
	background-color: #f1f1f1;
	
	border-color: #b1b1b1;
}

.ui-datepicker-prev
{
	left: 0;
}

.ui-datepicker-next
{
	right: 0;
}

.ui-datepicker-prev > .ui-icon,
.ui-datepicker-next > .ui-icon
{
	
	font-size: 12px;
	color: #616161;
}

.ui-datepicker-title
{
	padding-right: 62px;
	padding-left: 62px;
}

.ui-datepicker-month,
.ui-datepicker-year
{
	background: #ffffff;
	
	line-height: normal;

	border: 1px solid #d1d1d1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

	padding: 4px 8px;
	
	-webkit-transition: border-color 0.2s ease;
 	   -moz-transition: border-color 0.2s ease;
		 -o-transition: border-color 0.2s ease;
			transition: border-color 0.2s ease;
}

.ui-datepicker-month
{
	margin-right: 4px;
}

.ui-datepicker-month:hover,
.ui-datepicker-year:hover
{
	border-color: #a1a1a1;
}

.ui-datepicker-month:focus,
.ui-datepicker-year:focus
{
	border-color: #616161;
}

.ui-datepicker-calendar
{
	width: 100%;
}

.ui-datepicker-calendar th
{
	text-align: center;
	
	padding-top: 12px;
	padding-bottom: 12px;
}

.ui-datepicker-calendar th > span
{
	color: #919191;
}

.ui-datepicker-calendar td
{
	text-align: right;
}

.ui-datepicker-calendar td > a
{
	display: block;
	
	background-color: #ffffff;
	
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
			
	margin: 1px;
	padding: 6px 4px;
	
	-webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
 	   -moz-transition: background-color 0.2s ease, border-color 0.2s ease;
 		 -o-transition: background-color 0.2s ease, border-color 0.2s ease;
			transition: background-color 0.2s ease, border-color 0.2s ease;
}

.ui-datepicker-calendar td > a:hover
{
	border-color: #b1b1b1;
}

.ui-datepicker-calendar td > a:active
{
	background-color: #f1f1f1;
	
	border-color: #b1b1b1;
}

.ui-datepicker-calendar td > a.ui-state-active
{
	background-color: #a4d070;
	
	color: #ffffff;
	
	border-color: #a4d070;
}

.ui-datepicker-calendar td > a.ui-state-highlight
{
	border-color: #a4d070;
}

/* Errors list */
.errors-list
{
	background: #ffefef;
	
	border-left: 4px solid #ff5252;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	
	padding: 12px 24px;
	
	overflow: hidden;
}

.errors-list__item
{
	line-height: 1.3em;
	color: #ff5252;
	
	padding-top: 4px;
	padding-bottom: 4px;
}

/* Login form */
.login-form
{
	width: 420px;
	
	background: #ffffff;
	
	margin-left: -210px;
	padding: 24px;
	
	position: fixed;
	top: 25%;
	left: 50%;
	
	z-index: 1;
	
	overflow: hidden;
	
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.login-form__title
{
	font-size: 21px;
}

.login-form__errors
{
	display: none;
	
	margin-top: 12px;
}

.login-form__label
{
	padding-top: 12px;
}

.login-form__submit,
.login-form__link
{
	margin-top: 12px;
}


/* Header */
.header
{
	background: #ffffff;
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
	z-index: 2;
	
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header__container
{
	min-width: 980px;
	max-width: 1440px;
	
	margin: 0 auto;
	padding-right: 24px;
	padding-left: 24px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.header__logo
{
	float: left;
}

.header__logo-link
{
	display: block;
}

.header__logo-image
{
	display: block;
	
	height: 64px;
}

.header__user
{
	float: right;
	
	padding-right: 8px;
	padding-left: 8px;
	
	position: relative;
	
	-webkit-transition: background-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease;
		 -o-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
}

.header__user:hover,
.header__user:active,
.header__user.active
{
	background: #f1f1f1;
}

.header__user-name
{
	font-weight: bold;
	color: #616161;
	
	padding: 25px 24px 25px 60px;
	
	position: relative;
	
	cursor: pointer;
}

.header__user-name:before
{
	content: '';
	
	width: 48px;
	height: 48px;
	
	background: #e1e1e1 no-repeat center center;
	
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
			   
	position: absolute;
	top: 8px;
	left: 0;
	
	z-index: 1;
}

.header__user-name--male:before
{
	background-image: url(../images/icons/userPhoto-Male.png);
}

.header__user-name--female:before
{
	background-image: url(../images/icons/userPhoto-Female.png);
}

.header__user-name:after
{
	content: '';
	
	width: 16px;
	height: 16px;
	
	background: url(../images/icons/userArrow.png) no-repeat center center;
	
	position: absolute;
	top: 24px;
	right: 0;
	
	z-index: 1;
}

.header__user-menu
{
	display: none;
	
	min-width: 180px;
	width: 100%;
	
	background: #ffffff;
	
	padding-top: 4px;
	padding-bottom: 4px;
	
	position: absolute;
	top: 100%;
	right: 0;
	
	z-index: 3;
	
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header__user-menu-link
{
	display: block;
	
	font-size: 15px;
	color: #616161;
	
	padding: 12px 24px;
	
	-webkit-transition: background-color 0.2s ease, color 0.2s ease;
	   -moz-transition: background-color 0.2s ease, color 0.2s ease;
		 -o-transition: background-color 0.2s ease, color 0.2s ease;
			transition: background-color 0.2s ease, color 0.2s ease;
}

.header__user-menu-link:hover,
.header__user-menu-link:active
{
	background-color: #f1f1f1;
	
	color: #212121;
}

.header__user-menu-link:active
{
	background-color: #e1e1e1;
}

.header__menu
{
	float: right;
	
	overflow: hidden;
}

.header__menu-item
{
	float: left;
	
	margin-right: 48px;
}

.header__menu-link
{
	display: block;
	
	position: relative;
}

.header__menu-link-name
{
	display: block;
	
	font-size: 16px;
	color: #616161;
	
	padding-top: 24px;
	padding-bottom: 24px;
	
	-webkit-transition: color 0.2s ease;
	   -moz-transition: color 0.2s ease;
		 -o-transition: color 0.2s ease;
			transition: color 0.2s ease;
}

.header__menu-link-name:hover,
.header__menu-link-name:active
{
	color: #212121;
}

.header__menu-link-amount
{
	display: block;
	
	background: #ff5252;
	
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	
	padding: 4px;
	
	position: absolute;
	top: 4px;
	right: -12px;
	
	z-index: -1;
}


/* Content */
.container
{
	width: 980px;
	
	background: #ffffff;
	
	margin: 88px auto 24px auto;
	
	overflow: hidden;
}

.container--without-header
{
	margin-top: 24px;
}

.title
{
	font-size: 21px;
	
	color: #616161;
}

.content,
.aside
{
	float: left;
	
	padding: 24px;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.content
{
	width: 70%;
}

.content__form
{
	padding-top: 24px;
}

.content__form-errors
{
	display: none;
}

.content__form-row
{
	padding-top: 12px;
}

.content__form-row:first-child
{
	padding-top: 0;
}

.aside
{
	width: 30%;
}

.aside__title
{
	overflow: hidden;
}

.aside__title > .title
{
	display: inline-block;
}

.aside__title > .button
{
	display: inline-block;
	
	font-size: 21px;
	
	margin-left: 8px;
	padding: 2px 10px;
}

.aside__link
{
	display: inline-block;
	
	line-height: 1.5em;
	color: #8bc34a;
	
	border-bottom: 1px solid #e1e1e1;
	
	-webkit-transition: border-color 0.2s ease;
	   -moz-transition: border-color 0.2s ease;
		 -o-transition: border-color 0.2s ease;
			transition: border-color 0.2s ease;
}

.aside__link:hover,
.aside__link:active
{
	border-color: #8bc34a;
}

.aside__text
{
	line-height: 1.5em;
	color: #919191;
	
	padding-top: 24px;
}

.aside__list
{
	padding-top: 24px;
}

.aside__list-item
{
	margin-top: 8px;
}

.aside__list-item:first-child
{
	margin-top: 0;
}

/* Pagination */
.pagination
{
	margin-top: 32px;
	
	overflow: hidden;
}

.pagination__item
{
	float: left;
	
	color: #a1a1a1;
	
	border: 1px solid #f1f1f1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	
	margin-left: 4px;
	padding: 8px 12px;
	
	-webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease, border-color 0.2s ease;
		 -o-transition: background-color 0.2s ease, border-color 0.2s ease;
			transition: background-color 0.2s ease, border-color 0.2s ease;
}

.pagination__item:first-child
{
	margin-left: 0;
}

.pagination__item:hover
{
	border-color: #d1d1d1;
}

.pagination__item:active
{
	background-color: #f1f1f1;
	
	border-color: #d1d1d1;
}

.pagination__item--current
{
	background-color: #8bc34a;
	
	color: #ffffff;
	
	border-color: #8bc34a;
}

.content__header
{
	overflow: hidden;
}

.content__header > .title
{
	display: inline-block;
}

.content__header > .button
{
	display: inline-block;
	
	font-size: 21px;
	
	margin-left: 8px;
	padding: 2px 10px;
}

/* Content block */
.content__separator
{
	height: 1px;
	
	background: #d1d1d1;
	
	margin-top: 32px;
	margin-bottom: 32px;
}

.content__block
{
	margin-top: 32px;
	
	overflow: hidden;
}

.content__block-title,
.content__block-title-link,
.content__block-title-description
{
	font-size: 18px;
	line-height: 1.3em;
	
	-webkit-transition: color 0.2s ease;
	   -moz-transition: color 0.2s ease;
		 -o-transition: color 0.2s ease;
			transition: color 0.2s ease;
}

.content__block-title-link:hover,
.content__block-title-link:active
{
	color: #919191;
}

.content__block-title-description
{
    font-size: 12px;
    color: #a1a1a1;

    padding-top: 3px;
    padding-bottom: 3px;
}

.content__block-header
{
	overflow: hidden;
}

.content__block-header-item
{
	float: left;
	
	background: no-repeat left center;
	
	color: #d1d1d1;
	
	margin-left: 24px;
	padding: 16px 0 16px 22px;
}

.content__block-header-item:first-child
{
	margin-left: 0;
}

.content__block-header-item--date
{
	background-image: url(../images/icons/blockDate.png);
}

.content__block-header-item--user
{
	background-image: url(../images/icons/blockUser.png);
}

.content__block-header-item--tasks
{
	background-image: url(../images/icons/blockTasks.png);
}

.content__block-description
{
	line-height: 1.5em;
	color: #616161;
}

.content__block-footer
{
	padding-top: 16px;
}