.label
{
	display: block;
	
	color: #616161;
	
	padding-bottom: 4px;
}

.input
{
	width: 100%;
	
	background: #ffffff;
	
	line-height: normal;

	border: 1px solid #d1d1d1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;

	padding: 8px 12px;
	
	-webkit-box-shadow: 0 0 0 9999px #ffffff inset;
	   -moz-box-shadow: 0 0 0 9999px #ffffff inset;
			box-shadow: 0 0 0 9999px #ffffff inset;
	
	-webkit-transition: border-color 0.2s ease;
 	   -moz-transition: border-color 0.2s ease;
		 -o-transition: border-color 0.2s ease;
			transition: border-color 0.2s ease;
			   
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.input--textarea
{
	min-height: 128px;
	
	resize: vertical;
}

.input:hover
{
	border-color: #a1a1a1;
}

.input:focus
{
	border-color: #616161;
}

.input.error
{
	border-color: #ff5252;
}

.input--textarea
{
	height: 72px;
	
	resize: vertical;
}

.input--select
{
	padding: 7px 9px;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.button
{
	display: inline-block;
	
	line-height: normal;
	
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			   border-radius: 3px;
	
	padding: 8px 16px;
	
	cursor: pointer;
	
	-webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
 	   -moz-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
 		 -o-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
			transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.button--default
{
	background-color: #ffffff;
	
	color: #616161;
	
	border-color: #d1d1d1;
}

.button--default:hover
{
	border-color: #b1b1b1;
}

.button--default:active
{
	background-color: #f1f1f1;
	
	border-color: #b1b1b1;
}

.button--primary
{
	background-color: #8bc34a;
	
	color: #ffffff;
	
	border-color: #8bc34a;
}

.button--primary:hover
{
	background-color: #a4d070;
	
	border-color: #a4d070;
}

.button--primary:active
{
	background-color: #7eb73d;
	
	border-color: #7eb73d;
}

.button--link
{
	color: #616161;
}

.button--link:hover
{
	color: #818181;
}

.button--link:active
{
	color: #414141;
}

.button[disabled]
{
	background-color: #d1d1d1;

	color: #ffffff;
	
	border-color: #d1d1d1;
	
	cursor: default;
}