html, body, div, span, object, iframe, embed,
h1, h2, h3, h4, h5, h6, p, pre,
a, big, cite, code, em, img,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
button, input, select, textarea
{
	font: normal normal 14px/1em Arial, sans-serif;
	vertical-align: baseline;
	color: #212121;
	
	border: none;
	outline: none;	
	
	margin: 0;
	padding: 0;
}

body
{
	background: #d1d1d1;
}

a
{
	text-decoration: none;
	
	cursor: pointer;
}

img
{
	font-size: 12px;
	color: #616161;
}

ol,
ul
{
	list-style: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}